* {
    margin: 0;
    padding: 0;
    box-sizing :border-box;
    font-family: gilroy;
}
html, body{
    height:100%;
    width: 100%;
}


.back{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 100px;
    width: 100%;
    background-color: aqua;


}
.right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}
h1{
    font-size: 3.5vw;
}
a{
    font-size: 2vw;
}

